header {
	text-align: center;
}
.header-shadow{
    -webkit-box-shadow: 0px 9px 12px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 9px 12px 1px rgba(0,0,0,0.2);

    }
.header {
    &__hero {
        background-color: $color-bckgrd;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        height: auto;
        padding: 10% 5%;

        .button_link{
            background: linear-gradient(to top, $color-1, $color-2);
            color: $color-1-1;
            font-size: 15px;
            padding: 4%;
            margin: 7% 0%;
            border: none;
            border-radius: 20px;
            text-decoration: none;
            font-weight: 500;
            box-shadow: 0px 7px 17px 2px #d3cdd2;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent; /* Aquí se establece la propiedad */
            transition: background-color 0.3s;
            &:hover, &:active {
                background: linear-gradient(to top, lighten($color-1, 7%), lighten($color-2, 7%));
            }
        }
    }
    &__search {
        margin: 0;
        padding: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: darken($color: $color-bckgrd, $amount: 5%);
        .fa-solid {
            margin-right: 5%;
        }
    }
    &__logo {
        align-items: center;
        margin: 0 10%;
        padding: 5%;
        width: 60%;
    }
    &__navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 7% 0 0 5%;
        .fa-solid {
            position: relative;
            margin: 35% 5% 0 5%;
            padding: 0;
            font-size: 20px;
            font-weight: bold;
            color: rgb(9, 9, 9);
        }
        .header__logo{
            margin-left: 10%;
            padding-top: 0;
            }
    }
}

@media only screen and (min-width: map-get($breakpoints, tablet)){

    .header{
        justify-content: center;
        &__logo {
            align-items: center;
            margin: 0 10%;
            padding: 2%;
            width: 25%;
        }
        &__hero {
            gap: 10px;
            height: auto;
            padding: 5% 2%;

            .button_link{
                font-size: 17px;
                padding: 1%;
                margin: 5% 15%;
            }
        }
        &__navigation {
            margin: 3% 0 0 5%;
            .header__logo{
                margin-left: 5%;
                padding-top: 0;
                width: 25%;
                margin-left: 30%;
                width: 35%;
               }
        }
    }
}



