.heart__icon {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 28px;
    padding: 6px;
    position: relative;
    margin-right: 10px;


    &.m {
        position: relative;
        margin-top: 20px;
        margin-right: 40px;
    }
    &i {
        transition: opacity 3s ease-in-out;
    }

    .far {
        opacity: 1;
        color: rgb(120, 118, 118);
    }

    .fas {
        opacity: 0;
        background: -webkit-linear-gradient($color-2, $color-1);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        transition: opacity 0.5s;

    }

    &:hover, &:active {
        /*.far {
            opacity: 0;
        }*/

        .fas {
            opacity: 1;
        }
    }
}
