@charset "UTF-8";
/* animation menu page */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*animation check */
.menu__plate1:hover .overlay {
  transform: translateX(0%);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__plate1:hover .overlay_ckeck {
  -webkit-animation: check 0.5s ease forwards;
  animation: check 0.5s ease forwards;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

@-webkit-keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero__img {
  height: 200px;
  position: relative;
}
.hero__img img {
  height: auto;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  margin: 0;
}

.container {
  background-color: #f6f6f6;
  margin: 0;
  border-radius: 20px;
  width: 100%;
  position: relative;
}
.container .menu_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .menus__plater {
  margin: 5%;
}
.container .menus__plater .menu__pl h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(120, 118, 118);
}
.container .menus__plater .menu__pl h2:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #99e2d0;
}
.container .menus__plater .menu__pl .menu__plate1 {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  padding: 2px 5px;
  margin: 10px 0;
  width: 100%;
  box-shadow: -6px 5px 11px 5px rgba(216, 216, 216, 0.46);
  animation: fadeInUp 1s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  animation-fill-mode: both;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}
.container .menus__plater .menu__pl .menu__plate1 .menu__text {
  -webkit-box-flex: 1;
  flex: 1;
  padding: 15px 0 15px 10px;
}
.container .menus__plater .menu__pl .menu__plate1 .menu__text h3 {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 5px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 7px;
  display: block;
}
.container .menus__plater .menu__pl .menu__plate1 .menu__text p {
  font-size: 15px;
  color: rgba(48, 47, 47, 0.46);
  padding-bottom: 10px;
  padding-left: 5px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.container .menus__plater .menu__pl .menu__plate1 .menu__price {
  /*align-self: flex-end;
  margin-left: 5px;
  margin-right: 20px;
  padding-bottom: 15px;
  font-weight: bold;*/
  float: right;
  margin-top: -30px;
  padding-right: 10px;
  opacity: 1;
  transition: 0.3s;
}
.container .menus__plater .menu__pl .menu__plate1 .overlay {
  /*background: #9ae3d1;
  margin-right: -60px;
  width: 59px;
  border-radius: 0 20px 20px 0;
  font-size: 20px;
  color: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.5s ease;*/
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  overflow: hidden;
}
.container .menus__plater .menu__pl .menu__plate1 .overlay_check {
  transform: rotate(180deg);
  transition: all 0.7s ease;
  /*transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  background-color: $color-3;
  color: white;
  opacity: 1;*/
}
.container .menus__plater .menu__pl .menu__plate1 .overlay_check .fas {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.container .menus__plater .menu__pl .menu__plate1:nth-child(1) {
  animation-delay: 0.1s;
}
.container .menus__plater .menu__pl .menu__plate1:nth-child(2) {
  animation-delay: 0.2s;
}
.container .menus__plater .menu__pl .menu__plate1:nth-child(3) {
  animation-delay: 0.3s;
}
.container .btn__order {
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #f5edff;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  padding: 4% 9%;
  margin: 7% 35%;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 7px 17px 2px #d3cdd2;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s;
}
.container .btn__order:hover {
  background: linear-gradient(to top, #a674e2, #ff9de4);
}

.steps {
  margin: 0 10% 0 0;
}
.steps__button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.steps__btn {
  margin: 5%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 2px 2px 14px 0 #d0d0d0;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.steps__btn .number {
  color: #fff;
  background-color: #9356dc;
  border-radius: 20px;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: -10px;
}
.steps__btn .fa-solid {
  margin-left: 7%;
  font-size: 15px;
  color: rgb(120, 118, 118);
  transition: 0.3s;
}
.steps__btn:hover {
  background-color: #f4d4ee;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  background-color: #f6f6f6;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .restaurants__cards .restaurants__rest-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 15px 0 15px;
}

.restaurants__cardnew {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 14px 0 #d0d0d0;
  border-radius: 20px;
  width: 100%;
}
.restaurants__cardnew a {
  text-decoration: none;
}
.restaurants__cardnew .new__btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.restaurants__cardnew .new__btn p {
  background-color: #99e2d0;
  color: #028867;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.restaurants__cardnew img {
  border-radius: 15px 15px 0 0;
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.restaurants__cardnew .restaurants__intro {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
.restaurants__cardnew .restaurants__intro .restaurants__text {
  text-align: left;
  margin-left: 25px;
}

footer {
  margin: 0;
  background-color: #353535;
  color: #fff;
  height: 270px;
}
footer .footer {
  width: 400px;
  margin-left: 20px;
}
footer ul {
  margin-top: 5px;
  margin-left: 20px;
  padding: 0;
  list-style-type: none;
}
footer li {
  padding: 10px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer i {
  padding-right: 10px;
}

header {
  text-align: center;
}

.header__hero {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: auto;
  padding: 5% 5%;
}
.header__hero button {
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #f5edff;
  font-size: 15px;
  padding: 4%;
  margin: 7% 0%;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 7px 17px 2px #d3cdd2;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Aquí se establece la propiedad */
  transition: background-color 0.3s;
}
.header__hero button:hover {
  background: linear-gradient(to top, #a674e2, #ff9de4);
}
.header__search {
  margin: 0;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  border: inset 5% #f6f6f6;
}
.header__search .fa-solid {
  margin-right: 5%;
}
.header__logo {
  align-items: center;
  margin: 0 10%;
  padding: 5%;
  width: 60%;
}
.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 7% 0 0 5%;
}
.header__navigation .fa-solid {
  position: relative;
  margin: 35% 5% 0 5%;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(9, 9, 9);
}
.header__navigation .header__logo {
  margin-left: 10%;
  padding-top: 0;
}

/* animation menu page */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*animation check */
.menu__plate1:hover .overlay {
  transform: translateX(0%);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__plate1:hover .overlay_ckeck {
  -webkit-animation: check 0.5s ease forwards;
  animation: check 0.5s ease forwards;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

@-webkit-keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heart__icon {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 28px;
  padding: 2px;
  position: relative;
  left: 100px;
  bottom: 40px;
}
.heart__icon.m {
  position: relative;
  margin-top: 80px;
  margin-right: 140px;
}
.heart__icon .far {
  opacity: 1;
  color: rgb(120, 118, 118);
}
.heart__icon .fas {
  opacity: 0;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: opacity 0.5s;
}
.heart__icon:hover .far, .heart__icon:active .far {
  opacity: 0;
}
.heart__icon:hover .fas, .heart__icon:active .fas {
  opacity: 1;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  opacity: 0.98;
  background-color: #fff;
  -webkit-animation: loading 3s ease-in-out forwards;
  animation: loading 3s ease-in-out forwards;
}

.circle {
  width: 160px;
  height: 160px;
  margin: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #9356dc;
  transform-origin: 80px 82px;
  transform: rotate(0deg);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header__hero h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10%;
}

footer h3 {
  color: #fff;
  font-size: 30px;
  font-family: "Shrikhand";
  margin: 0;
  padding: 20px;
}

.steps h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10%;
  margin-left: 5%;
}
.steps__btn h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 0 2%;
  padding: 5% 5%;
}

.restaurants h2 {
  align-items: flex-start;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5%;
  margin-left: 5%;
}

.restaurants__cardnew .restaurants__intro h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 2px 0 2px -10px;
  color: black;
}
.restaurants__cardnew .restaurants__intro p {
  font-size: 14px;
  margin: 0;
  margin-left: -10px;
  color: rgb(120, 118, 118);
}

/*menu pages */
.container .menu_head h1 {
  margin: 0;
  margin-right: -80px;
  font-size: 22px;
  font-family: "Shrikhand";
  padding: 10px 0 0 20px;
}

/*# sourceMappingURL=style.css.map */
