.steps {
    margin: 0 10% 0 0;

    &__button {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__btn {
        margin: 5%;
        padding: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        background-color: $color-bckgrd;
        border-radius: 20px;
        box-shadow: 2px 2px 14px 0 #d0d0d0;
        font-weight: 500;
        position: relative;
        cursor: pointer;
        transition: .3s;
        .number {
            color: $color-white;
            background-color: $color-1;
            border-radius: 20px;
            padding: 3px 7px;
            font-size: 13px;
            font-weight: 400;
            position: absolute;
            left: -10px;
        }
        .fa-solid {
            margin-left: 7%;
            font-size: 15px;
            color: rgb(120, 118, 118);
            transition: .3s;
        }

        &:hover{
            background-color: #f4d4ee;
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    background-color: $color-bckgrd;


    .restaurants__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        .restaurants__rest-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 0 15px 0 15px;
        }
    }
}

.restaurants__cardnew {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: $color-white;
    border-radius: 20px;
    width: 100%;

    a {
        text-decoration: none;
    }
    .new__btn {
        position: absolute;
        top: 10px;
        right: 10px;

        button {
            background-color: $color-3;
            color: $color-3-1;
            border: none;
            padding: 5px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    img {
        border-radius: 15px 15px 0 0;
        width: 300px;
        height: 150px;
        object-fit: cover;
    }

    .restaurants__intro {
        text-align: center;
        margin-top: 10px;
        width: 100%;
        .restaurants__text {
            text-align: left;
            margin-left: 25px;
        }
    }

}


